3_docker/node-red-flows/localbus_to_modus-ecp.json
[{"id":"f6007b71.50e448","type":"tab","label":"Localbus_To_Modbus.ecp","disabled":false,"info":""},{"id":"8762fc89.fa323","type":"modbus-read","z":"f6007b71.50e448","name":"MB AI 750-469","topic":"MB AI 750-469","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"4f64b738.739b98","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":190,"y":140,"wires":[["c3e825a4.ab5878","ed3a17cd.c5c558","4f0d51d0.f94a"],[]]},{"id":"c3e825a4.ab5878","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":160,"wires":[]},{"id":"6c4f390e.3896d8","type":"modbus-read","z":"f6007b71.50e448","name":"MB AI 750-467","topic":"MB AI 750-467","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"2","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"4f64b738.739b98","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":220,"wires":[["32093a39.e1cf36"],[]]},{"id":"32093a39.e1cf36","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":220,"wires":[]},{"id":"4c70b2b9.76a95c","type":"modbus-read","z":"f6007b71.50e448","name":"MB DI 750-1405","topic":"MB DI 750-1405","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"2000","quantity":"16","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"4f64b738.739b98","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":300,"wires":[["2a90b4a4.58080c"],[]]},{"id":"5fb903d7.fd647c","type":"modbus-read","z":"f6007b71.50e448","name":"MB DO 750-1504 Output Status","topic":"MB DO 750-1504","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3000","quantity":"16","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"4f64b738.739b98","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":380,"wires":[["1015c0ba.4ac11f"],[]]},{"id":"2a90b4a4.58080c","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":300,"wires":[]},{"id":"1015c0ba.4ac11f","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":380,"wires":[]},{"id":"c569d838.2e2d88","type":"modbus-write","z":"f6007b71.50e448","name":"MB DO 750-1504 Write Output Coil 1","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"3000","quantity":"1","server":"4f64b738.739b98","x":410,"y":480,"wires":[["d7697aa3.172218"],[]]},{"id":"ed3a17cd.c5c558","type":"function","z":"f6007b71.50e448","name":"ARRAY_TO_1_REAL","func":"msg.payload=msg.payload[0]/10.0;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["14763ca4.d722e3"]]},{"id":"e815498d.5af568","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":120,"wires":[]},{"id":"14763ca4.d722e3","type":"rbe","z":"f6007b71.50e448","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":120,"wires":[["e815498d.5af568"]]},{"id":"4f0d51d0.f94a","type":"function","z":"f6007b71.50e448","name":"ARRAY_TO_1_INT","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["892da5bb.ecbad8"]]},{"id":"84e5beb6.c1d84","type":"modbus-write","z":"f6007b71.50e448","name":"MB DO 750-1504 Output Register","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"1000","quantity":"1","server":"4f64b738.739b98","x":400,"y":680,"wires":[["55e008cb.ea11b8"],[]],"info":"Write Register"},{"id":"bb392b12.fc22a8","type":"inject","z":"f6007b71.50e448","name":"","topic":"","payload":"4245","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["84e5beb6.c1d84"]]},{"id":"bfa236df.28c258","type":"inject","z":"f6007b71.50e448","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":700,"wires":[["84e5beb6.c1d84"]]},{"id":"d7697aa3.172218","type":"debug","z":"f6007b71.50e448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":480,"wires":[]},{"id":"d285053.677ebf8","type":"modbus-write","z":"f6007b71.50e448","name":"MB DO 750-1504 Write Output Coil 3","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"3002","quantity":"1","server":"4f64b738.739b98","x":410,"y":560,"wires":[["3713ee0c.c83b82"],[]]},{"id":"dd132e04.2dd4d","type":"inject","z":"f6007b71.50e448","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["d285053.677ebf8"]]},{"id":"5c958b1a.00a534","type":"inject","z":"f6007b71.50e448","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["d285053.677ebf8"]]},{"id":"892da5bb.ecbad8","type":"rbe","z":"f6007b71.50e448","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":80,"wires":[["5154b580.239bdc"]]},{"id":"5154b580.239bdc","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":80,"wires":[]},{"id":"55e008cb.ea11b8","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":680,"wires":[]},{"id":"12486782.b77688","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":780,"wires":[]},{"id":"453a7a90.0465c4","type":"modbus-read","z":"f6007b71.50e448","name":"MB AI 750-494/5","topic":"MB AI 750-494/5","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"100","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"4f64b738.739b98","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":780,"wires":[["ce086444.465728"],[]]},{"id":"ce086444.465728","type":"function","z":"f6007b71.50e448","name":"ARRAY_TO_1_REAL","func":"msg.payload=msg.payload[0]/10.0;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":780,"wires":[["12486782.b77688"]]},{"id":"77fe41d6.204ad","type":"inject","z":"f6007b71.50e448","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["c569d838.2e2d88"]]},{"id":"e0427945.5fbd28","type":"inject","z":"f6007b71.50e448","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[["c569d838.2e2d88"]]},{"id":"3713ee0c.c83b82","type":"debug","z":"f6007b71.50e448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":560,"wires":[]},{"id":"4f64b738.739b98","type":"modbus-client","z":"","name":"PFC200","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.212","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]