3_docker/node-red-flows/mqtt.json
[{"id":"9caab0d.5127e5","type":"tab","label":"Mqtt","disabled":false,"info":""},{"id":"88e680d1.af14e","type":"mqtt in","z":"9caab0d.5127e5","name":"","topic":"topic","qos":"0","datatype":"auto","broker":"f3fb5a5.ca4caa8","x":250,"y":380,"wires":[["b72dd6f1.70d028"]]},{"id":"6c135158.4fae7","type":"mqtt out","z":"9caab0d.5127e5","name":"","topic":"training/nodered/myvalue","qos":"0","retain":"false","broker":"f3fb5a5.ca4caa8","x":470,"y":80,"wires":[]},{"id":"415a6d4c.1e42e4","type":"inject","z":"9caab0d.5127e5","name":"","topic":"","payload":"42","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[["6c135158.4fae7"]]},{"id":"b72dd6f1.70d028","type":"function","z":"9caab0d.5127e5","name":"Receive JSON data","func":"var data = JSON.parse(msg.payload);\n\nmsg = {};\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["76477a9f.a6e044"]]},{"id":"76477a9f.a6e044","type":"debug","z":"9caab0d.5127e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":380,"wires":[]},{"id":"4f497679.3d5ac8","type":"mqtt out","z":"9caab0d.5127e5","name":"","topic":"topic","qos":"0","retain":"false","broker":"f3fb5a5.ca4caa8","x":630,"y":320,"wires":[]},{"id":"c707515a.c65d8","type":"inject","z":"9caab0d.5127e5","name":"","topic":"","payload":"dummy","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["bf1aa46e.ea7408"]]},{"id":"bf1aa46e.ea7408","type":"function","z":"9caab0d.5127e5","name":"Send JSON data","func":"msg = {};\n\nmsg.payload = '[';\nmsg.payload += '{\"temperature\": ' + Math.round ( Math.random() *42) + ',';\nmsg.payload += '\"level\": ' + Math.round ( Math.random() *1000) + '},';\nmsg.payload += '{\"activepower\": ' + Math.round ( Math.random() *23) + ',';\nmsg.payload += '\"current\": ' + Math.round ( Math.random() *10) + '}';\nmsg.payload += ']';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["4f497679.3d5ac8"]]},{"id":"646204cd.946eec","type":"mqtt in","z":"9caab0d.5127e5","name":"","topic":"training/pfc/data/#","qos":"1","datatype":"auto","broker":"f3fb5a5.ca4caa8","x":280,"y":180,"wires":[["53e25b68.c8c2d4"]]},{"id":"53e25b68.c8c2d4","type":"debug","z":"9caab0d.5127e5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":180,"wires":[]},{"id":"f3fb5a5.ca4caa8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.173","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]